{% extends 'base.html' %}

{% block body %}
<br>

<div class="container">
    <h3 class="text-center">About Us</h3>
    <br>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, totam adipisci? Autem quibusdam, minus fugit suscipit nemo quam. Optio sit possimus laboriosam dolorem quibusdam illo deserunt minima necessitatibus, impedit in.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque officia recusandae debitis autem, tenetur eius nisi et. Deleniti cum, corporis in explicabo labore beatae hic illum veritatis sed fuga suscipit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, nihil laudantium. Quaerat quia facere iure! Vitae, quas fuga quam veniam iure eaque doloribus, totam inventore numquam excepturi dolorem quidem pariatur?
    </p>
</div>
{% endblock body %}
    